:root {
      --primary: #6366f1;
      --bg: #0f172a;
      --card: #1e293b;
      --text: #f1f5f9;
      --muted: #94a3b8;
    }

body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: var(--bg);
      color: var(--text);
    }

header {
      background: var(--card);
      text-align: center;
      padding: 50px 20px;
    }

header img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid var(--primary);
      margin-bottom: 15px;
    }

h1 {
      margin: 10px 0;
      font-size: 2em;
    }

p.subtitle {
      color: var(--muted);
      font-size: 1em;
    }

.resume-btn {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background: var(--primary);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background 0.3s;
    }

.resume-btn:hover {
      background: #4f46e5;
    }

section {
      max-width: 900px;
      margin: auto;
      padding: 40px 20px;
    }

h2 {
      font-size: 1.6em;
      margin-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid var(--card);
      padding-bottom: 10px;
    }

.about, .contact p {
      font-size: 1.1em;
      line-height: 1.6;
      color: var(--muted);
      text-align: center;
    }

.skills ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
    }

.skills li a {
      text-decoration: none;
      color: white;
}

.skills li {
      background: var(--card);
      padding: 10px 20px;
      margin: 10px;
      border-radius: 6px;
      font-weight: bold;
      color: white;
    }

.project-card {
      background: var(--card);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
    }

.project-card h3 {
      margin-top: 0;
      color: white;
    }

.project-card p {
      color: var(--muted);
    }

.contact {
      text-align: center;
    }


.contact a {
      color: var(--primary);
       text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
    }


footer {
      background: #020617;
      text-align: center;
      color: var(--muted);
      padding: 15px;
      font-size: 0.9em;
    }